.teams-page-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.background {
  position: fixed; /* same as App.jsx */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.teams-content {
  position: relative;
  z-index: 2;
  padding-top: 80px;
}
