.tilted-card-figure {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tilted-card-mobile-alert {
  position: absolute;
  top: 1rem;
  text-align: center;
  font-size: 0.875rem;
  display: none;
}

@media (max-width: 640px) {
  .tilted-card-mobile-alert {
    display: block;
  }
  .tilted-card-caption {
    display: none;
  }
}

.tilted-card-inner {
  position: relative;
  transform-style: preserve-3d;
}

/* -------------------------------
   NORMAL = GRAYSCALE
   HOVER = FULL COLOR + SCALE
-------------------------------- */
.tilted-card-img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  border-radius: 15px;
  filter: grayscale(60%);
  transition: filter 0.35s ease, transform 0.35s ease;
  will-change: transform;
  z-index: 1;
}

.tilted-card-inner:hover .tilted-card-img {
  filter: grayscale(0%);
  transform: scale(1);
}

/* -------------------------------
   OVERLAY TEXT (NAME)
-------------------------------- */
.tilted-card-overlay {
  position: absolute;
  /* top: 0px; */
  /* left: 0px; */
  /* padding: px 12px; */
  /* background: rgba(0, 0, 0, 0.35); */
  border-radius: 8px;
  color: #fff;
  z-index: 5;
  font-size: 16px;
  transform: translateZ(1px);
}

/* Tooltip (Caption Following Mouse) */
.tilted-card-caption {
  pointer-events: none;
  position: absolute;
  background-color: #ffffff;
  padding: 4px 10px;
  border-radius: 4px;
  font-size: 10px;
  color: #2d2d2d;
  opacity: 0;
  z-index: 3;
  left: 0;
  top: 0;
}
